setup.sh
deploy.sh

#ignore node modules
frontend/.vscode
frontend/.eslintcache
frontend/build
frontend/node_modules
backend/node_modules

#ignore public images and uploads
backend/public/*
backend/uploads/*
frontend/public/uploads/*

# Logs
backend/logs/*
frontend/logs/*
*.log

# Lock files
frontend/*-lock.json
backend/*-lock.json

# cache
frontend/.cache
backend/.cache

# Backup files
*.backup
*.bak
