/*ComplianceControls*/
.apexcharts-point-annotations text,
.apexcharts-xaxis-annotations text,
.apexcharts-yaxis-annotations text {
  fill: #2b3553 !important;
  font-size: 1em;
}

/*RAM section*/
text {
  font-family: "Poppins", serif !important;
}

.gantt-container {
  /*overflow: initial !important;*/
  background: #26293c;
}

.gantt .bar-progress {
  fill: #727cf5 !important;
}

.gantt .bar-wrapper:hover .bar-progress {
  fill: #8a92f7 !important;
}

.gantt .bar,
.gantt .bar-wrapper:hover .bar {
  fill: #64686e !important;
}

.gantt .bar-label,
.gantt .bar-label.big {
  fill: #dee2e6 !important;
}

.gantt .grid-header {
  fill: #1a1e34 !important;
  stroke: #1a1e34 !important;
}

.gantt .grid-row {
  fill: #1a1e34 !important;
}

.gantt .grid-row:nth-child(even) {
  fill: #1a1e34 !important;
}

.gantt .lower-text,
.gantt .upper-text {
  fill: #aab8c5 !important;
}

.gantt .row-line {
  stroke: #464f5b !important;
}

.gantt .today-highlight {
  fill: #464f5b !important;
}

.gantt-container .popup-wrapper .pointer {
  display: none !important;
  /*overflow: initial !important;*/
}

.gantt .arrow {
  stroke: #a9afc3 !important;
}

/*.card-stats-white {*/
/*  background: #ffffff;*/
/*  border-radius: 18px;*/
/*  box-shadow: 0 0 7px #9ecaed;*/
/*}*/
/*.card-stats-white .card-title,*/
/*.card-stats-white th,*/
/*.card-stats-white .card-description,*/
/*.card-stats-white .card-category,*/
/*.card-stats-white .table > tbody > tr > td {*/
/*  color: rgb(111, 109, 109) !important;*/
/*}*/

/*.card-stats-white .card-stats .info-icon i {*/
/*  color: #ffffff;*/
/*  font-size: 1.7em;*/
/*  padding: 14px 13px;*/
/*}*/
/*.card-stats-white .numbers {*/
/*  text-align: right;*/
/*  margin-right: 1em;*/
/*}*/

/*.card-stats-white .card-stats .info-icon.icon-success {*/
/*  background: #00f2c3;*/
/*  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);*/
/*  background-size: 210% 210%;*/
/*  background-position: top right;*/
/*}*/

/*.card-stats-white .tim-icons {*/
/*  display: inline-block;*/
/*  font: normal normal normal 1em/1 'Nucleo';*/
/*  vertical-align: middle;*/
/*  speak: none;*/
/*  text-transform: none;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.card-white .card-chart .card-body {*/
/*  padding-left: 20px;*/
/*  padding-right: 20px;*/
/*}*/

/*.ramChart {*/
/*  padding: 15px;*/
/*}*/

/*CVE section*/
#SearchBtn {
  padding: 9px 40px !important;
}
/* 
#searchImportGrp {
  margin: -4px !important;
} */

.db-mid-section {
  height: 400px;
}

.progressHigh {
  background: #da4343 !important;
}

.progressMed {
  background: #eaa232 !important;
}

.progressLow {
  background: #27906f !important;
}
.cursor-pointer {
  cursor: pointer;
}
.cardMargin {
  margin-top: 2.5rem;
}

.react-tagsinput-tag-justtag {
  cursor: pointer;
  margin: 5px 3px 5px 0;
  position: relative;
  padding: 3px 8px;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.5em;
  background-color: brown;
}

.sde {
  margin-top: 10px;
}

/* .button-filter label {
  display: block;
} */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin: 0 10px;
  vertical-align: middle;
}

.button-filter {
  width: 120px;
  margin: 0 auto;
}

.button-filter p {
  color: #fff;
  text-align: center;
  line-height: 6px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 550;
}

.button-filter .toggle-label {
  color: #fff;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  background: rgba(255, 255, 255, 0) !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5px;
  background-image: linear-gradient(to right, #87befd, #ea3c3c);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* overriding the theme style for slider dot*/
.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.2);
  height: 20px;
  /* slider control height */
  width: 20px;
  /* slider control width */
  cursor: pointer;
  margin-left: -10px;
  margin-top: -9px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 9px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.assign-task-modal-heading {
  display: block;
}

.assign-task-modal-heading h6 {
  text-align: center;
}

input.toggle-switch:checked + .slider {
  /* background-color: #2196F3; */
  background-image: linear-gradient(to right, #24113e, #4e2358);
}

input.toggle-switch:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input.toggle-switch:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.assigntask-modal {
  width: 100%;
  max-width: 700px;
}

.assigntask-modal .task-list .taskblue-box {
  background: #27293d;
  padding: 10px;
}

.assigntask-modal .task-list .taskblue-box ul {
  padding: 0;
  margin: 0;
}

.assigntask-modal .task-list .taskblue-box ul li {
  list-style-type: none;
  margin: 4px 0;
}

.assigntask-modal .task-list .taskblue-box ul li span {
  float: right;
}

.task-list-form .form-group .form-control {
  border-radius: 0;
  background: #27293d;
}

.task-list-form .form-group label {
  margin-bottom: 7px;
}

.task-list-form .form-group .checkbox-label {
  cursor: pointer;
}

.task-list-form .form-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.task-list .taskdescription p {
  font-weight: 600;
  color: #333;
}

.task-list {
  padding-right: 25px;
}

.taskdescription-form {
  margin-top: 20px;
}

.taskdescription-form .form-group label {
  font-weight: 600;
  color: #333;
}

.taskdescription-form .form-group .form-control {
  background: #fff;
  color: #333;
}

/* .chart-outer{
padding: 30px;
}  */
.card-inner {
  /* background-color: #27293d; */
  background-image: linear-gradient(
    to right,
    #080b13,
    #0f1b29 400px,
    #080b13 800px
  );
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.col-chart {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  text-align: center;
}

.chart-outer .head-h4 {
  text-align: center;
}

.col-chart h4 {
  margin-top: 20px;
  font-size: 18px;
  /* font-weight: 600; */
}

.card-chart.card.col-card-chart {
  box-shadow: none;
  border-radius: 0px;
  margin: 0;
  background-color: transparent;
  /* background-image: linear-gradient(to right, #080b13, #0f1b29 400px, #080b13 800px ); */
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-chart.card.col-card-chart svg {
  width: 100%;
  height: 100%;
}

.center-bigChart svg {
  /* height: 200px */
  width: 100% !important;
  height: 220px !important;
}

.card-chart.card.col-card-chart .apexcharts-canvas {
  margin: auto;
  /* height: 220px !important; */
}

.four-chart_outer .card-inner {
  background: none;
}

.four-chart_outer .col-chart .card-chart.card.col-card-chart {
  background-image: linear-gradient(
    to right,
    #080b13,
    #0f1b29 400px,
    #080b13 800px
  );
  /* border-right: 1px solid rgb(75, 75, 75); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 220px;
}

#basic-bar {
  min-height: 220px !important;
}

.btn-green {
  background: #4caf50;
  background-image: linear-gradient(to bottom left, #1df871, #4caf50, #1df871);
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus,
.btn-green:focus-within,
.btn-green:active:focus {
  background: #4caf50 !important;
  background-image: linear-gradient(
    to bottom left,
    #1df871,
    #4caf50,
    #1df871
  ) !important;
}

@media (max-width: 991px) {
  .assigntask-modal {
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .assigntask-modal {
    max-width: 80%;
    margin: 0 auto;
  }

  .card-inner {
    background-size: 100% 100%;
  }

  .four-chart_outer .col-chart .card-chart.card.col-card-chart {
    height: 100%;
  }
}

.box {
  display: none;
}

/* Check if the screen size is at least 600px */
@media only screen and (min-width: 600px) {
  .lg {
    display: block;
  }
}

/* check if the screen size is at least 100px */
@media only screen and (min-width: 100px) {
  .dropdown {
    display: block;
  }
}

.stats-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.stats-card h5 {
  color: #05357e;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.stats-card .number {
  color: #05357e;
  font-weight: 600;
  font-size: 26px;
}

.stats-card .graph-tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 15px;
  margin: 0 -20px 20px;
  border-bottom: 1px solid #dee0e6;
}

.stats-card .graph-tittle h5 {
  color: #000000;
  font-size: 12px;
}

.stats-card .graph-tittle a {
  font-size: 12px;
  color: rgb(125, 119, 119);
}

.six-layers .card-chart .chart-area {
  height: auto;
  position: relative;
}

.six-layers .card-chart .chart-area .chartjs-render-monitor {
  height: 350px !important;
}

.six-layers .stats-card .circle {
  border: 1px solid #05357e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;

  cursor: pointer;
}

.layers-shape svg text,
.layers-shape svg path {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.layers-shape svg {
  margin: 0 auto;
}

.export-btn {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.export-btn svg {
  margin: 0 0 0 10px;
}

/*custom readonly taginput pill*/
.react-tagsinput-tag.readonly {
  cursor: auto;
  margin: 5px 3px 5px 0;
  position: relative;
  padding: 3px 8px;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.5em;
  padding-left: 0.8em;
}

.react-tagsinput-tag + .react-tagsinput-tag {
  margin-left: 3px;
}

.react-tagsinput .react-tagsinput-tag.readonly:hover {
  padding-right: 0.8em;
}

.react-tagsinput .react-tagsinput-tag.readonly.info {
  color: #ffffff;
  background-color: #1d8cf8;
}

a.react-tagsinput .react-tagsinput-tag.readonly.info:hover,
a.react-tagsinput .react-tagsinput-tag.info.readonly:focus {
  color: #1d8cf8;
  background-color: #1d8cf8;
}

a.react-tagsinput .react-tagsinput-tag.readonly.info:focus,
a.react-tagsinput .react-tagsinput-tag.info.readonly.focus {
  outline: 0;
  box-shadow: #1d8cf8;
}

.sliding-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.sliding-panel-container.active {
  position: fixed;
  z-index: 15000;
  background-color: rgba(0, 0, 0, 0.3);
  will-change: transform;
}

.sliding-panel-container.active.click-through {
  pointer-events: none;
  background-color: transparent;
}

.sliding-panel-container.click-through > div {
  pointer-events: none;
}

.panel-content {
  height: 100%;
  background-color: #27293d;
  width: 100%;
  pointer-events: all;
  padding: 2.5em;
  overflow: scroll;
}

.panel-container-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.panel-container-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms, opacity 500ms;
}

.panel-container-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.panel-container-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 500ms, opacity 500ms;
}

.panel-container-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.panel-container-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 900ms, opacity 900ms;
}

.panel-container-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.panel-container-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 900ms, opacity 900ms;
}

.panel-container-top-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.panel-container-top-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms, opacity 500ms;
}

.panel-container-top-exit {
  opacity: 1;
  transform: translateX(0);
}

.panel-container-top-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 500ms, opacity 500ms;
}

.panel-container-bottom-enter {
  opacity: 0;
  transform: translateY(100%);
}

.panel-container-bottom-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms, opacity 500ms;
}

.panel-container-bottom-exit {
  opacity: 1;
  transform: translateX(0);
}

.panel-container-bottom-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 500ms, opacity 500ms;
}

/*ComplianceBuilder*/
.complianceTilesRow {
  justify-content: center;
  gap: 15px;
}

/*!*accordion*!*/

/*::after,*/
/*::before {*/
/*  box-sizing: border-box;*/
/*}*/

/*.h2,*/
/*h2 {*/
/*  font-size: calc(1.325rem + 0.9vw);*/
/*}*/

/*.h1,*/
/*.h2,*/
/*.h3,*/
/*.h4,*/
/*.h5,*/
/*.h6,*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*  margin-top: 0;*/
/*  margin-bottom: 0.5rem;*/
/*  font-weight: 500;*/
/*  line-height: 1.2;*/
/*}*/

/*@media (min-width: 1200px) {*/
/*  .h2,*/
/*  h2 {*/
/*    font-size: 2rem;*/
/*  }*/
/*}*/

/*button,*/
/*input,*/
/*optgroup,*/
/*select,*/
/*textarea {*/
/*  margin: 0;*/
/*  font-family: inherit;*/
/*  font-size: inherit;*/
/*  line-height: inherit;*/
/*}*/

/*button,*/
/*select {*/
/*  text-transform: none;*/
/*}*/

/*[type='button'],*/
/*[type='reset'],*/
/*[type='submit'],*/
/*button {*/
/*  -webkit-appearance: button;*/
/*}*/

/*.accordion-button {*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  padding: 1rem 1.25rem;*/
/*  font-size: 1rem;*/
/*  color: #d4d4d8;*/
/*  text-align: left;*/
/*  background-color: #2a3042;*/
/*  border: 0;*/
/*  border-radius: 0;*/
/*  overflow-anchor: none;*/
/*  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,*/
/*  box-shadow 0.15s ease-in-out, border-radius 0.15s ease;*/
/*}*/

/*[type='button']:not(:disabled),*/
/*[type='reset']:not(:disabled),*/
/*[type='submit']:not(:disabled),*/
/*button:not(:disabled) {*/
/*  cursor: pointer;*/
/*}*/

/*.accordion-item:first-of-type .accordion-button {*/
/*  border-top-left-radius: calc(0.25rem - 1px);*/
/*  border-top-right-radius: calc(0.25rem - 1px);*/
/*}*/

/*.accordion-button::after {*/
/*  flex-shrink: 0;*/
/*  width: 1.25rem;*/
/*  height: 1.25rem;*/
/*  margin-left: auto;*/
/*  content: '';*/
/*  !*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");*!*/
/*  background-repeat: no-repeat;*/
/*  background-size: 1.25rem;*/
/*  transition: transform 0.2s ease-in-out;*/
/*}*/

/*.accordion-button:not(.collapsed)::after {*/
/*  !*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");*!*/
/*  transform: rotate(-180deg);*/
/*}*/

/*.accordion-button:not(.collapsed) {*/
/*  color: #0c63e4;*/
/*  background-color: #2b3553;*/
/*  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);*/
/*}*/

/*.accordion-item {*/
/*  !*background-color: #2b3553;*!*/
/*  !*border: 1px solid rgba(0, 0, 0, 0.125);*!*/
/*}*/

/*.accordion-item:first-of-type {*/
/*  border-top-left-radius: 0.25rem;*/
/*  border-top-right-radius: 0.25rem;*/
/*}*/

/*.accordion-header {*/
/*  margin-bottom: 0;*/
/*}*/

/*.accordion-body {*/
/*  padding: 1rem 1.25rem;*/
/*  color:#d4d4d8;*/
/*}*/

/*.accordion-details{*/
/*   font-family:"Lucida Console", "Courier New", monospace;*/
/*  padding-bottom: 1em;*/
/*}*/

/*IncidentTask*/
.table-responsive {
  max-height: 500px;
  overflow-x: unset !important;
  overflow-y: scroll;
}

/*Dashboard*/
.apex-charts {
  min-height: 10px !important;
}

.apex-charts text {
  font-family: Nunito, sans-serif !important;
  fill: #aab8c5;
}

.apex-charts .apexcharts-canvas {
  margin: 0 auto;
}

.apexcharts-tooltip-text,
.apexcharts-tooltip-title {
  font-family: Nunito, sans-serif !important;
}

.apexcharts-legend-series {
  font-weight: 600;
}

.apexcharts-gridline {
  pointer-events: none;
  stroke: #404954;
}

.apexcharts-legend-text {
  color: #ced4da !important;
  font-family: Nunito, sans-serif !important;
}

.apexcharts-xaxis text,
.apexcharts-yaxis text {
  font-family: Nunito, sans-serif !important;
  fill: #aab8c5;
}

.apexcharts-point-annotations text,
.apexcharts-xaxis-annotations text,
.apexcharts-yaxis-annotations text {
  fill: #fff;
}

.apexcharts-radar-series polygon {
  fill: transparent;
  stroke: #464f5b;
}

.apexcharts-radar-series line {
  stroke: #464f5b;
}

.apexcharts-datalabel,
.apexcharts-datalabel-label,
.apexcharts-datalabel-value,
.apexcharts-pie-label {
  fill: #ced4da !important;
}

.apexcharts-datalabels-group text {
  fill: #aab8c5 !important;
}

/*-------------------------Upload modal File Css-------------------*/
/*--------------upload modal file css ends --------------*/
