#ignore node modules
node_modules
node_modules/*

#ignore public (only track public/images/settings/)
public/*
!public/images/
public/images/*
!public/images/settings/

# NPM lock fils
*-lock*.*
*.lock