$white-color:#fff;
$black-color:#000;
$light-black-color:#000000cc;
$second-black-color:#00000066;
$third-bg-black-color:#1e1e2f;
$forth-bg-black-color:#2f261df0;
$login-input-bg-color:#272A39;
$grey-border-color:#6E7399;
$grey-opacity-border-color:#6e73995b;
$third-black-color:#ffffff1a;
$grey-checkbox-radio:#93939C;
$col-select-color:#c7c2bf66;
$new-grey-color:#FFFFFF33;
$border-grey:#323446;
$blue-opacity-color:#0099FF4D;
$light-lienear-gradient:#0099ff96;
$light-gradient-border:#263148;
$border-blue:#344675;
$bg-color:#27293D;
$bg-second-color:#2a2c44;
$bg-third-color:#2e2f48;
$light-blue-opacity-color:#35a7ff11;
$text-color:#C7C2BF;
$hover-bg-color:#999999;
$black-opacity-color:#9999991A;
$second-text-color:#ffffffcc;
$grey-needle-color:#ffffff81;
$third-white-color:#dedede;
$input-bg-color:#343651;
$orange-color:#FF7D00;
$light-bg-orange:#F36F214D;
$yellow-color:#ffb400;
$second-yellow-color:#ffa500;
$input-border-color:#2b3553;
$pink-color:#e14eca;
$text-bg-color:#145F39;
$text-profile-color:#09D66E;
$dark-blue-color: #4482FC;
$text-blue-color:#458CF8;
$light-blue-color: #454768;
$accordion-color:#525252;
$grey-light-color: #656781;


// gradinent color 
$gradient-light:#458cf84d;
$gradient-dark:#004dff4d;
$blue-opacity-start-gradient:#006bbd83;
$blue-opacity-end-gradient:#35a7ff78;
$blue-btn-color:#004dff;
$blue-bg-color:#0099ff;
$blue-border-color:#0074fd;
$light-blue-border-color:#3ea1ec;
$blue-icon-color:#1d8cf8;
$sidebar-light-gradient-color:#0f285080;
$sidebar-dark-gradient-color:#01040b80;
$gradient-light-yellow:#ff7d00f0;
$gradient-dark-yellow:#b05600;


// graph fail pass different-color
$red-color:#AA0C0C;
$pink-color:#922a92;
$dark-red:#ff0000;
$graph-green-color:#00ff00;
$graph-second-green-color:rgb(0, 196, 159);
$graph-light-green-color:#9cc904;
$graph-orange-color:#fa5335;
$graph-yellow-color:#e5d70f;